{% extends "view/layout/auth_base.html" %} {% block body %}
<section class="container is-max-desktop">
    <h1 class="title is-2">Register</h1>
    <h5 class="subtitle is-5">Fill in the form and start renting cars!</h5>

    <form action="/auth/register" method="POST" autocomplete="off">
        <div class="field mt-4">
            <label class="label" for="name">Name:</label>
            <div class="control">
                <input class="input" id="name" name="name" type="text" placeholder="Name" />
            </div>
        </div>
        <div class="field">
            <label class="label" for="email">Email:</label>
            <div class="control">
                <input class="input" id="email" name="email" type="email" placeholder="Email" />
            </div>
        </div>
        <div class="field">
            <label class="label" for="password">Password:</label>
            <div class="control">
                <input class="input" id="password" name="password" type="password" placeholder="*********" />
            </div>
        </div>
        <div class="field">
            <label class="label">Repeat password:</label>
            <div class="control">
                <input class="input" id="repeat-password" name="repeat-password" type="password" placeholder="*********" />
            </div>
        </div>
        <div class="field">
            <label class="label" for="phone">Phone:</label>
            <div class="control">
                <input class="input" id="phone" name="phone" type="tel" placeholder="+11 1234567890" />
            </div>
        </div>
        <div class="field has-addons">
            <div class="control has-icons-left is-expanded">
                <div class="select is-full-width">
                    <select id="country" name="country" >
                        <option selected>Country</option>
                        <option>Argentina</option>
                        <option>France</option>
                        <option>Brazil</option>
                        <option>Chile</option>
                        <option>Denmark</option>
                        <option>Ecuador</option>
                    </select>
                    <p class="help">Select your country here.</p>
                </div>
                <span class="icon is-left">
                    <i class="fas fa-globe"></i>
                </span>
            </div>
        </div>
        <div class="field mt-5">
            <label class="label" for="address">Address:</label>
            <div class="control">
                <input class="input" id="address" name="address" type="text" placeholder="+11 1234567890" />
            </div>
        </div>
        <div class="field">
            <label class="label" for="driver-license">Driver license:</label>
            <div class="control">
                <input class="input" id="driver-license" name="driver-license" type="text" placeholder="1234567890" />
            </div>
        </div>
        <div class="field">
            <p class="control">
                Already have an account?
                <a class="is-link" href="/auth/login">Login here</a>
            </p>
        </div>
        <div class="field is-grouped is-grouped-right">
            <div class="control">
                <button class="button is-link" type="submit">Submit</button>
            </div>
            <div class="control">
                <button class="button is-link is-light" type="button">Cancel</button>
            </div>
        </div>
    </form>
    <div id="errors-container" class="notification is-danger mt-2 is-hidden">
        <ul id="errors">
        </ul>
    </div>
</section>
{% endblock %}

{% block footerScripts %}
<script src="/public/js/user.register.js""></script>
{% endblock %}
