{% extends "view/layout/base.html" %} {% block body %}
<a href="/reservations/create" class="button is-primary is-dark my-2"
    >Create a new reservation</a
>
{% for message in messages %}
<div class="notification is-success">{{message}}</div>
{% endfor %} {% for error in errors %}
<div class="notification is-danger">{{error}}</div>
{% endfor %}
<table class="table is-fullwidth">
    <thead>
        <tr>
            <td>#</td>
            <td>From</td>
            <td>To</td>
            <td>Days</td>
            <td>Baby chair</td>
            <td>Snow chain</td>
            <td>Payment method</td>
            <td>Total price</td>
            <td>Car</td>
            <td>User</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        {% for reservation in data.reservations %}
        <tr>
            <td>{{ reservation.id }}</td>
            <td>{{ reservation.fromDate }}</td>
            <td>{{ reservation.toDate }}</td>
            <td>{{ reservation.days }}</td>
            <td>{% if reservation.babyChair === 1 %} Yes {% else %} No {% endif %}</td>
            <td>{% if reservation.snowChain === 1 %} Yes {% else %} No {% endif %}</td>
            <td>{{ reservation.paymentMethod.charAt(0).toUpperCase() }}{{ reservation.paymentMethod.slice(1) }}</td>
            <td>${{ reservation.totalPrice.toFixed(2) }}</td>
            <td><a href="/cars/view/{{ reservation.car }}">Link</a></td>
            <td><a href="/users/view/{{ reservation.user }}">Link</a></td>
            <td>
                <a
                    href="/reservations/edit/{{ reservation.id }}"
                    class="button is-info is-dark mr-2"
                    >Edit</a
                >
                <button
                    id="delete-{{ reservation.id }}"
                    class="btn-delete button is-danger is-dark">
                    Delete
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %} {% block footerScripts %}
<script src="/public/js/reservation.index.js"></script>
{% endblock %}
